/////////////////// Light Theme Content ////////////////////////////////

// White
$white: #f8f8f8;

// Black
$black: #424242;

// Grey
$light-grey: #e4e4e4;
$box-shadow-color: rgba(0,0,0, 0.2);
$transparent: transparent;

// Blue
$blue: #1a73e8;
$dark-blue: #1a237e;
$pale-blue: #272f80;
$light-blue: #c1c3dc;

// Violet
$violet: #a88add;

// Cyan
$cyan: #0cc2aa;

// Red
$red: #dc3545;