#loading {
    position: relative;
    top: 50%;
    transform: translateY(500%);
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    .company {
        color: $blue;
    }
}

 .spinner:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid lightgray;
    border-top-color: coral;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner{
    to{
        transform: rotate(360deg);
    }
}